<%# Search box to search tasks by tag names %>
<%# TODO: show tags under search box %>
<form id="search-bar">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text"><%= icon 'fas', 'search' %></div>
    </div>
    <%= search_field_tag :tag_names, nil,
                       placeholder: 'Search tasks by tags...',
                       id: 'search-tasks-by-tags',
                       class: 'form-control',
                       autofocus: false,
                       autocomplete: :off %>
    <a href="#" id="clear-search-box">&times;</a>
  </div>
</form>
