<p>
  <%= render 'order_links', order_path: tasks_path %>
</p>

<%= render partial: 'task_list',
           locals: {
               ongoing: @ongoing,
               completed: @completed
           } %>

<%# fix a search bar to the bottom %>
<!--<div class="container-fluid fixed-bottom">-->
  <%#= render 'search_form' %>
<!--</div>-->
