<%= render 'search_form' %>

<div id="order-links" class="my-2">
  <%= render 'order_links', order_path: tasks_path %>
</div>

<%= render partial: 'task_list',
           locals: {
               ongoing: @ongoing,
               completed: @completed
           } %>

