<h1>Search Result</h1>

<%= link_to_tasks_path %>

<p>
  <% if @ongoing.any?  || @completed.any? %>
    <%= render partial: 'task_list',
               locals: {
                   ongoing: @ongoing,
                   completed: @completed
               } %>
  <% else %>
    <em>No tasks match your search. </em>
  <% end %>
</p>
