<h1>Manage Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <strong>
        <%= link_to "#{tag.name} (#{tag.tasks.count})",
                           tag_path(tag) %>
      </strong>
    </li>
  <% end %>
</ul>

<%= link_to_tasks_path %>