<h1>Manage Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag_without_link tag %>
      <%= link_to tag_path(tag),
                  method: :delete,
                  data: { confirm: 'Sure to delete this tag? '\
                            'This does not delete its tasks. ' } do %>
        <%# TODO: show number of tasks %>
        <%= icon 'far', 'trash-alt' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to_tasks_path %>