<h1>Manage Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <strong>
        <%= link_to_unless tag.tasks.count == 0,
                           "#{tag.name} (#{tag.tasks.count})",
                           tag_path(tag, source: tags_path) %>
      </strong>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', tasks_path %>