<h1>View Tag</h1>
<h2><em><%= @tag.name %></em></h2>

<%= link_to_tasks_path %>
<%= link_to_tags_path %>

<%= render partial: 'task_list',
           locals: { ongoing: @ongoing,
                     archived: @archived,
                     order_path: tag_path(@tag)} %>
