// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tag-bg-color: var(--secondary);
$tag-bg-color-hover: #979797;
$tag-text-color: white;
$tag-bg-color-active: #ffb746;
$tag-bg-color-active-hover: #cb9336;
$tag-text-color-active: black;

.tag {
  color: $tag-text-color;
  text-decoration: none;
  background-color: $tag-bg-color;
  &:hover {
    color: $tag-text-color;
    text-decoration: none;
    background-color: $tag-bg-color-hover;
  }
  &.active {
    color: $tag-text-color-active;
    text-decoration: none;
    background-color: $tag-bg-color-active;
    &:hover {
      background-color: $tag-bg-color-active-hover;
    }
  }
}
