// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tag-bg-color: var(--secondary);
$tag-bg-color-hover: #979797;
$tag-text-color: white;

.tag {
  &:hover {
    color: $tag-text-color;
    text-decoration: none;
    background-color: $tag-bg-color-hover !important;
  }
  color: $tag-text-color;
  text-decoration: none;
  background-color: $tag-bg-color !important;
}
