<%# links to give the user the choice to order tasks by time
    updated, deadline and title %>
<strong>Order by:</strong>
<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
    <%= content_tag :label,
                    id: 'sort-tasks-by-time-updated',
                    class: 'btn btn-secondary' +
                      (cookies[:order] == '1' ? ' active' : ''),
                    title: 'Order by last modified time',
                    data: {
                        toggle: 'tooltip',
                    } do %>
      <input type="radio" autocomplete="off">
      Default
    <% end %>
  <%= content_tag :label,
                  id: 'sort-tasks-by-deadline',
                  class: 'btn btn-secondary' +
                      (cookies[:order] == '2' ? ' active' : '') do %>
    <input type="radio">
    Deadline
  <% end %>
  <%= content_tag :label,
                  id: 'sort-tasks-by-title',
                  class: 'btn btn-secondary' +
                      (cookies[:order] == '3' ? ' active' : '') do %>
    <input type="radio">
    Title
  <% end %>
</div>
