<%# local variables: ongoing, completed %>

<div id="tasks">
  <%# list ongoing tasks %>
  <h2>Ongoing</h2>
  <% if ongoing.any? %>
    <div id="ongoing-tasks">
      <%= render partial: 'task_summary', collection: ongoing, as: 'task' %>
    </div>
  <% else %>
    <p>Nothing planned. Have a nice day!</p>
  <% end %>

  <%# list completed tasks %>
  <h2>Completed (<%= completed.size %>)</h2>
  <div id="completed-tasks">
    <%= render partial: 'task_summary', collection: completed, as: 'task' %>
  </div>
</div>
